
nav{
  background: gray;
  height: 50px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.active {
  background-color: #0099FF;
}

.content {
  padding: 20px;
  height: 100vh;
  margin-left: 16.66%;
  margin-right: 16.66%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
        margin: 0px;
    }

    content{
      margin-left: 0px;
      margin-right: 0px;
    }
}

.overlay {
  background-color: rgba(255,255,255,1);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  display: none;
}

option {
  background-color: #000;
  color: #fff;
}

.course-container{
  padding-top: 30px;
}

.course-title{
  font-size: 28px;
  color: #1e7bbb;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid #d4d6d9;
  margin-top: -4px;
}

.course-assignment-container{

}

.course-tile{
  margin-top: 16px;
  background: white;
  border-top: 5px solid #5da5da;
}

.course-create-assignment{
  width: 240px;
  height: 244px;
  background-color: transparent;
  border: 1px dashed #d4d6d9;
  text-align: center;
  box-shadow: none;
  padding-top: 70px;
  padding: 76px 22px 22px 22px;
  margin-right: 18px;
  margin-top: 16px;
  float: left;
  font-weight: 500;
  color: #1e7bbb;
  font-size: 16px;
}

.course-create-plus{
  font-size: 70px;
}