
body {
  background-color: #EEEFF3;
  padding: 0px;
  margin-top: 100px;
}


nav{
  height: 50px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index:3;
}

.navbar-fixed-top {
  font-size: 25px;
  color: red;
}

.sub-nav{
  background: #135783;
  height: 60px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 75px;
  z-index:2;
}

.sub-nav-col{
  display: inline-block;
}

.sub-nav-left{
  margin-left: 0px;
  width: 20%;
  min-width: 100px;
  color: white;
}

.sub-nav-center{
  width: 60%;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 1038px) {
   .sub-nav-left{
      width:10%px;
    }

  .sub-nav-center{
    width: 50%;
  }

}

@media only screen and (max-width: 768px) {
   .sub-nav-center{
      display: none;
    }
}

.sub-nav-right{
  margin-right: 0px;
  width: 200px;
}

.sub-nav-link{
  color: white;
  margin-left: 0px;
}

.sub-nav-btn{
  border: #fff 1px solid;
  background: none;
  height: 40px;
  color: #fff;
}

nav ul.header{
  background: #fff;
}

nav ul.header li a{
  color: black;
  font-weight: 400;
}



li a.active{
  color: #1e7bbb;
  font-weight: 500;
}

/*#home.active {
  background: grey;
  background-image: url('img/Home_select.svg');
  background-repeat: no-repeat;
  font-weight: 500;
}*/

main{
  margin-top: 50px;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 150px;
}




.content {
  padding: 20px;
  height: 100vh;
  margin-left: 16.66%;
  margin-right: 16.66%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}


@media only screen and (max-width: 992px) {
    .content{
      margin-left: 0px;
      margin-right: 0px;
    }
}





footer{
  background: pink;
}

h1,h2,h3,h4{
 font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300px;
}

.black {
  background-color: #000;
  color: #fff;
}

.btn{
  border-radius: 4px;
  min-width: 140px;
  margin-right: 12px;
  line-height: 52px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
  border: none;
}

.btn .btn-primary{
  color: white;
  background-color: #1e7bbb;
}

.button-modal{
  height: 52px;
  background-color: #135783;
  color:white;
  margin-top: 20px;
}

.button-modal:hover{
  font-weight: 500;
  color: #fff;
}

.tile{
  width: 240px;
  height: 244px;
  border-radius: 4px;
  position: relative;
  color: black;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 26px 22px 22px 22px;
  margin-right: 18px;
  margin-top: 16px;
  float: left;
}

.library-title{
  color: #1e7bbb;
  padding-bottom: 30px;
}

.library-container{
  text-align: center;
}

.library-count{
  font-size: 28px;
  color: #1e7bbb;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid #d4d6d9;
  margin-top: -4px;
  padding-top: 30px;
}

.library-welcome{
  padding-bottom: 30px;
  padding-top: 30px;
}

.instructions{
  padding-top: 15px;
}

.assignment-div{
  background: #fff;
  margin: 5px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 14px;
}

.assignment-info{
  background: #fff;
  margin: 5px;
  padding: 30px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.assignment-div-header{
  font-size: 16px;
  font-weight: 500;
}

.assignment-div-title{
  text-align: center;
}

.assignment-title{
  color:#1e7bbb;
  padding-bottom: 20px;
}

.source-title{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.assignment-lg {
  display:flex;
}

.assignment-sm {
    display:none;
}

.assignment-sm-width{
  width: 100%;
}

.standard-button{
  text-align: center;
  padding: 10px;
  color: #135783;
  background: white;
  border: 1px solid #135783;
  border-radius: 5px;
  margin: 5px;
  width: 200px;
  display: inline-block;
}

.standard-button:hover{
  background-color: rgba( 28,132,198, 0.2);
}

.standard-button-selected{
  text-align: center;
  padding: 10px;
  color: #135783;
  border: 1px solid #135783;
  border-radius: 5px;
  margin: 5px;
  width: 200px;
  display: inline-block;
  background-color: rgba( 28,132,198, 0.4);
}

.standard-display{
  display: inline-block;
}

.standard-title{
  display:flex;
}

.standard-text{
  display:flex;
}

@media screen and (max-width: 1176px) {

  .assignment-lg {
    display:none;
  }

  .assignment-sm {
    display:flex;
  }

}


@media screen and (max-width: 642px) {

  .standard-text{
    display:none;
  }
}